<?xml version='0.1' encoding='UTF-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-call-logs" version="0.0.5"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>CallLog</name>

    <description>
        This plugin allows you to retrieve the phone's call log.
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
    </engines>

    <js-module name="CallLogCordovaPlugin" src="www/call-log.js">
        <clobbers target="cordova.plugins.callLog" />
    </js-module>

    <js-module name="tests" src="test/tests.js"></js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CallLog">
                <param name="android-package" value="com.ubookr.plugins.CallLogPlugin" />
            </feature>
        </config-file>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>

        <source-file src="src/com/ubookr/plugins/CallLogPlugin.java" target-dir="src/com/ubookr/plugins" />
    </platform>
</plugin>
